<%#= content_tag :div, class: 'container-fluid' do %>
<!--   <h1>Artwork Show Page</h1>
  <hr /> -->
  <%#= content_tag :div, class: 'row' do %>
    <%#= render partial: 'artwork', locals: { artwork: @artwork } %>
  <%# end %>
<%# end %>
