<%= content_tag :div, class: 'container-fluid' do %>
  <%= content_tag :h2, id: "#{@user.id}" do %>
    Profile of: <%= @user.email %>
  <% end %>

  <%= render 'display-tabs' %>

<% end %> <!-- ./container-fluid -->

<script id="artworks" type="text/x-handlebars-template">
  {{#each this}}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="#"><img src="/system/images/{{image_file_name}}" class="img-responsive" alt="{{title}}"></a>
        <div class="caption">
          <h4>{{title}}</h4>
          <p>{{description}}</p>
          <p>price: {{price}}</p>
        </div>
      </div>
    </div>
  {{/each}}
</script>
