body .navbar {
  margin-bottom: 0;
  font-size: 20px;
}

.glyphicon-shopping-cart {
  font-size: 1.25em;
}

.navbar .glyphicon-home {
  font-size: 1.25em;
}

@media screen and (min-width: 768px)  {
  body .navbar {
    .navbar-nav li:hover {
      border-bottom: 3px solid black;
    }
  }
}